@charset "utf-8";

html {
  font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 10) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;

$maincolor: #f9f8f6;
$subcolor: #887f69;


html, body{
    background-color: $maincolor;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    
}



#wrap{
  clear: both;
  position: relative;
  min-height: 100%;
  padding: 10px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.main{
  text-align: center;
  
  header{
    
    padding: 40px 0;
    
    .sp_menu_btn{
        
        display: block;
        text-align:center;
        margin: 0 auto;
        margin-bottom: 15px;
        padding: 0 0;
        
         li{
            list-style: none;
            margin: 0;
            padding: 0 4px;
            display: inline-block;
         }
    }
    
    .sp_menu_li{
      width: auto;
      top: 50px;
      border: none;
      background: #ff6d77;
      margin: 0;
      padding: 0;
      display: none; //追加---------
    
    
      li{
    
        list-style: none;
        margin: 0;
        padding:0;
    
        a{
          color: #fff;
          display: block;
          padding: 10px 8px;
          border-bottom: 1px solid #fff;
          font-size: 14px;
          text-decoration: none;
        }
      }
    }
    
   @media (min-width: 551px) {
    .sp_menu{
      display: none;
    }
    
    .pc_menu{
      float: right;
       li{
        list-style: none;
        margin: 0;
        padding: 0;
        padding-left: 10px;
        display: inline-block;
      }
    }
    
    .logo{
      float: left;
    }
    
    .container{
        max-width: 80%;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 45px;
    }
    
    .banner{
      margin: 0 auto;
    }
  
  }// min-width: 551px
  
  
    @media (max-width: 550px) {
      
      padding: 0 0;      
      
      .pc_menu {
        display: none;
      }
      
    .logo{
        display: block;
        text-align:center;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 25px;
    }
    
    }// max-width: 550px

}//header

  .content {
    
    display: block;
    width:75%;
    float: left;
    display: inline;
    margin-top: 40px;
  
  .banner{
    
    .owl-theme .owl-dots .owl-dot span {
      width: 25px;
      height: 2px;
      margin: 5px 7px;
      background: #aaa;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity .2s ease;
      border-radius: 30px;
    }
    
    .owl-theme .owl-dots .owl-dot.active span {
      background: #9d1a2d;
    }
    
    .owl-theme .owl-dots, .owl-theme .owl-nav {
      text-align: left;
      -webkit-tap-highlight-color: transparent;
    }
    
  }
  
  .pc_maintitle {
    padding-top:34px;
    padding-bottom:34px;
    
    img{
      width: 100%;
    }
    
  } 
  
  .newitems {
  
    .itemlist {
    float:left;
    background-color: #fff;
    padding: 1.7%;
    margin: 0.2%;
    
    .details {
      text-align: center;
      
      .text {
        text-align: left;
        width: 205px;
        
        @media (max-width: 550px) {
          width: 100%;
        }
        
      }
    }
    
  }
  
  }//newitems

  .popular {
  
  .itemlist {
    
    float: left;
    background-color: #fff;
    padding: 1.7%;
    margin: 0.2%;
    
    .details {
      text-align: center;
      
      .text {
        text-align: left;
        width: 205px;
        
        @media (max-width: 550px) {
          width: 100%;
        }
      }
    
    }
  
  }//itemlist
  
  @media (max-width: 550px) {
    .itemlist{
      width: 45.6%;
      margin: 0.5%;
      
      img{
        width: 100%;
      }
    }
  }//max-width: 550px  
  
} //popular

  .guide{

  .delivery{
  
    float: left;
    background-color: #fff;
    padding: 20px;
    margin: 2px;
    width: 43%;
    height: 264px;
    text-align: left;
    
  h2 {
    color: $subcolor;
  }
  
  h3 {
    color: $subcolor;
  }
  
  @media (max-width: 550px) {
    
    padding: 1% 6%;
    width: 87%;
    height: 225px;    
    
  }
  
} //delivery

  .payment{
  
    float: left;
    background-color: #fff;
    padding: 20px;
    margin: 2px;
    width: 43%;
    height: 264px;
    text-align: left;
    
  h2 {
    color: $subcolor;
  }
  
  h3 {
    color: $subcolor;
  }
  
  img{
      width: 100%;
      height: auto;
  } 
  
  @media (max-width: 550px) {
    
    padding: 1% 6%;
    width: 87%;
    
  }
  
} //payment  
  
} //guide  
  
  @media (max-width: 550px) {
    
    width: 100%;
    margin-top: 0;    
    
    .banner{
      max-width:100%;
    }    
    
    .pc_maintitle {
       display: none;
    }
    
    .sp_maintitle{
      padding: 15px;
     }  
    
    .itemlist{
      width: 45.6%;
      margin: 0.5%;
      
      img{
        width: 100%;
      }
    }    
    
  }//max-width: 550px
  
  @media (min-width: 551px) {
    
    .sp_maintitle{
      display: none;
    }
    
  } //min-width: 551px
  
}

}//main

.sidebar{
  width: 24%;
  float: right;
  margin-top: 40px;
  padding-left: 1%;
  
  @media (max-width: 550px) {
      
      float: left;
      margin-top: 15px;
      width: 100%;      
      
    }//max-width: 550px
    
  .search{
    
    padding: 20px;
    background-color: #fff;
    
    .itemserch{
      text-align: left;
      padding-bottom: 6px;
      
      @media (max-width: 550px) {
        
         img{
          display: none;
        }
          

      }//max-width: 550px
      
    }//itemserch
    
    .searchspace {
      background-color: #eee;
      text-align: left;
      padding: 11px;
      height: 15px;
      
      .wrap{
        
        p{
          display: block;
          float: left;
          margin: 0 ;
          font-weight: bold;
          font-style: italic;
          font-size: 11px;
          color: #b5b5b5;
        }
        
        img{
          vertical-align: middle;
          float: right;
        }        
        
      }


      
    } //searchspace
  
  } //search
  
  .navi{
    
    .pagelink {

      height: 45px;
      background-color: $subcolor;
      margin-top: 10px;
      padding-left: 15px;
      padding-right: 15px;
      
      .linkicon{
        
        width: 100%;
        float: left;
        margin: 0 auto;
        margin-top:17px;
        margin-bottom: 17px;
        
        .wrap{
          float: right;
          
          @media (max-width: 550px){
            padding-left: 186px;
          }
        }
        
      }
      
    }//pagelink
    
    .categories{
      
      .categorieswrap{
        cursor: pointer;
        
        height: 45px;
        background-color: $subcolor;
        margin-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
        
        .categoriesicon{
          
          width: 100%;
          float: left;
          margin: 0 auto;
          margin-top: 17px;
          margin-bottom: 17px;
          
          .wrap{
          float: right;
          
           @media (max-width: 550px){
            padding-left: 173px;
          }          
          
          } 
        }
        
      }
      
      .listwrap{
        .categorieslist{
          // display: none;
          height: 45px;
          background-color: #fff;
          margin-top: 2px; 
          padding-left: 15px;
          padding-right: 15px;
          
          .wrap{
            
            padding-top: 12px;
            
            p{
              float: left;
              margin: 0 auto;
              font-size: 12px;
            }
          
            img{
              padding-top: 2px;
              float: right;
            }
          } 
        
        }//cate_list        
      }//listwrap
      
      
    }//categories
    
  } //navi
  
  .about {
    
    background-color: $subcolor;
    margin-top: 10px; 
    
    .abouticon{
      
      padding-left: 15px;
      padding-right: 15px;
      float: left;
      margin: 0 auto;
      margin-top: 17px;
      margin-bottom: 17px;
          
    }
    
    .aboutimg{
      clear: both;
      height: 265px;
      background-color: #fff;
      padding: 12px;
      
      .wrap{
        
        img{
          width:100%;
        }
        
        p{
          font-size: 12px;
        }
        
      }
      
      .more{
        padding-top: 15px;
        text-align: center;
      }      
      
    }
    
    @media (max-width: 550px) {
      
      .aboutimg{
        height: 13%;
        
        .wrap{
          
          img{
            width: 45%;
            height: auto;
            padding-right: 5%;
          }
          
          p{
            width: 50%;
            float: right;
            margin: 0 auto;
          }
          
        }

        .more{
          padding-left: 37%;
          padding-top: 0;
        }
      }
      
    } //max-width: 550px    
    
  }//about
  
  .shopinfo {
    
    background-color: $subcolor;
    margin-top: 10px; 
    
    .infoicon{
      
      padding-left: 15px;
      padding-right: 15px;
      float: left;
      margin: 0 auto;
      margin-top: 17px;
      margin-bottom: 17px;
          
    }
    
    .shopinfoimg{
      clear: both;
      height: 265px;
      background-color: #fff;
      padding: 12px;
      
      .wrap{
        
        img{
          width:100%;
        }
        
        p{
          font-size: 12px;
        }
        
      }
      
      .more{
        padding-top: 15px;
        text-align: center;
      }      
      
    }
    
    @media (max-width: 550px) {
      
      .shopinfoimg{
        height: 13%;
        
        .wrap{
          
          img{
            width: 45%;
            height: auto;
            padding-right: 5%;
          }
          
          p{
            width: 50%;
            float: right;
            margin: 0 auto;
          }
          
        }

        .more{
          padding-left: 37%;
          padding-top: 0;
        }
      }
      
    } //max-width: 550px 
    
  }//shopinfo    
}

footer{
    bottom: auto;
    width: 97%;
    margin: 60px auto;
    text-align: center;

  .pagetop{
    text-align: right;
    padding-bottom: 20px;
  }
  
  .foot_navi {
  margin: 0;
  margin-bottom: 1%;
  padding: 11px 10px;
  overflow: hidden;
  text-align: center;
  border-top: solid thin $subcolor;
  
  li {
    display:inline;//横に並ぶように
    list-style: none;
  }
  
  li:after {// ・を表示
    content: '・';
    padding: 0 3px;
    color: $subcolor;
  }
  
  li:last-child:after{
    content: '';
  }
  
  li a {
    text-decoration: none;
    color: $subcolor;
  }

  li a:hover {
    text-decoration: underline;
}

  img{
    padding-right: 10px;
  }
  
}
  
  small{
    color: #b8b4ac;
  }
  
  @media (max-width: 550px) {
    
    width: 100%;
    margin-top: 10px;
    
    .pagetop{
      text-align: center;
      padding-bottom: 10px;
    }
    
    .foot_navi{
      padding: 10px 0;
      width: 95%;
      margin: 0 auto;
    }
    
  }// max-width: 550px
  
} //footer


// list---------------------------------------

.breadcrumb {
  margin: 0;
  margin-bottom: 1%;
  background: #e8e4da;
  padding: 11px 10px;
  overflow: hidden;
  text-align: left;
  
  li {
    display:inline;//横に並ぶように
    list-style: none;
    font-weight: bold;//太字
  }
  
  li:after {// /を表示
    content: '/';
    padding: 0 3px;
    color: $subcolor;
  }
  
  li:last-child:after{
    content: '';
  }
  
  li a {
    text-decoration: none;
    color: $subcolor;
  }

  li a:hover {
    text-decoration: underline;
}

  img{
    padding-right: 10px;
  }
  
}

.banner {
  
    .sp_cate img{
      width: 100%;
      margin-top: 2%;
    }
  
  @media (max-width: 550px) {
    
    .pc_cate {
      display: none;
    }
    
  }//max-width: 550px
  
  @media (min-width: 551px) {
    
    img{
      width: 100%;
    }
    
    .sp_cate{
      display: none;
    }
    
  }//min-width: 551px
  
}

.items {
  
   margin-top: 1%; 
  
    .itemlist {
      float:left;
      background-color: #fff;
      padding: 1.7%;
      margin: 0.2%;
      
      a {
        text-decoration: none;
        color: #000;
      }
    
    .details {
      text-align: center;
      
      .text {
        text-align: left;
        width: 205px;
        
        
        @media (max-width: 550px) {
          width: 100%;
        }
        
      }
    }
    
  }
  
}//items

.recent {
  
  .itemlist {
    
    float: left;
    background-color: #fff;
    padding: 1.7%;
    margin: 0.2%;
    
    .details {
      text-align: center;
      
      .text {
        text-align: left;
        width: 205px;
        
        @media (max-width: 550px) {
          width: 100%;
        }
      }
    
    }
  
  }//itemlist
  
  @media (max-width: 550px) {
    .itemlist{
      width: 45.6%;
      margin: 0.5%;
      
      img{
        width: 100%;
      }
    }
  }//max-width: 550px  
  
} //recent

.btn{
  
  width: 100%;
  height: 45px;
  
  .back_btn{
  
    float: left;
    margin-left: 0.2%;
    margin-top: 2%;
    margin-bottom: 5%;
  
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 12px 45px;
    text-decoration: none;
    color: #fff;
    background: $subcolor;
    transition: .4s;
    
    &:hover {
      background: darken($subcolor, 15%);
    }
  }
  
  .next_btn{
  
    float: right;
    margin-right: 1.6%;
    margin-top: 2%;
    margin-bottom: 5%;
  
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 12px 45px;
    text-decoration: none;
    color: #fff;
    background: $subcolor;
    transition: .4s;
    
    &:hover {
      background: darken($subcolor, 15%);
    }

  }
  
  @media (max-width: 550px) {
    
    margin: 5% 0;
    
    .back_btn{
      font-size: 1.2rem;
      padding: 10px 35px;
    }
    
    .next_btn{
      font-size: 1.2rem;
      padding: 10px 35px;
    }
    
  } //max-width: 550px
  
}

// product---------------------------------------

.product{
  
  background-color: #fff;
  text-align: left;
  padding: 8%;
  padding-top: 4%;
  display: block;
  
    @media (max-width: 550px){
      padding: 3%;
    }
  
  .pdt_title{
    
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: solid thin #e3e8cf;
    margin-bottom: 3%;
    
    @media (max-width: 550px) {
        display: inline;
        
        h1{
          margin-bottom: 0;
        }
        
        p{
          margin-top: 0;
          font-weight: lighter;
        }
      }
    
    h1{
      //text-align: left;
      font-weight: bold;
      font-stretch: expanded;
      font-size: 1.4rem;
    }
    
   p{
      //float: right;
      font-weight: bold;
      color: #a6a6a6;
      font-size: 1.0rem;
      
     
    } 
    
   
    
  } //pdt_title
  
  #display_img{
    width: 410px;
    display: inline;
    
    @media (max-width: 550px) {
      img{
        width: 100%;
      }
    }
  
  } //#display_img
  
  #list_img{
    
    display: inline;
    //flex-wrap: wrap;
    width: 156px;
    float: right;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 25px;
    
    li {
      list-style: none;
      display: inline-block;
    }
    
    img {
      width: 74px;
      cursor: pointer;
      padding-left: 5%;
    }
    
    @media (max-width: 550px){
      float: left;
      display: inline;
      width: 100%;
      
      img{
        width: 53.7px;
        padding: 0;
      }
      
    }
  
  } //#list_img
  
  .color_size {
   
    border-top: solid thin #e3e8cf;
    margin-top: 3%;
    padding-top: 3%;
    
   
  }
  
  table{
      empty-cells: show;
      border-collapse: collapse;
      border-spacing: 0;
      border: solid 1px #e8e4da;
      font-size: 1.2rem;
      color: #887f69;
      width: 100%;
       
      caption{
        margin-bottom: 10px;
        text-align: left;
      }
      
      th,td{
        padding:10px 20px;
        border: solid 1px #e8e4da;
        text-align: center;
      }
      
      th{
        background-color: #f9f9f5;
      }
      
    }
  
  
  .cart_wrap{
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: solid thin #e3e8cf;
    
    .wrap{
      
      width:59%;
      
      .price {
        //display: block;
        border-top: solid thin #e3e8cf;
        border-bottom: solid thin #e3e8cf;
        margin-top: 5%;
        padding: 5% 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        //width: 57%;
      
      
      p{
        //text-align: center;
        padding-right: 26%;
        font-size: 1.4rem;
        font-style: italic;
        margin: 0;
        
        @media (max-width: 550px){
          padding-right: 22%;
        }
        
        span{
          color: #e80f66;
          font-size: 2.2rem;
        }
        
      }
      
    }// price
    
      .quantity {
        display: block;
        padding: 5% 0;
        
        @media (max-width: 550px){
          border-bottom: solid thin #e3e8cf;
          margin-bottom: 5%;
        }
        
      }
      
    }// wrap
    
    .cart{
      margin-top: 3%;
      
    }
    
    @media (max-width: 550px){
      display: inline;
      
      .wrap{
        width: 100%;
      }
      
      .cart{
        text-align: center;
      }
      
    }
    
  }
  
  
  
  #input1{
    width: 79px;
    height: 40px;
    border: solid 1px #e8e4da;
    margin: 0 18%;
    font-size: 1.6rem;
    color: $subcolor;
    padding-left: 70px;
    text-align: right;
    
    @media (max-width: 550px) {
      padding-left: 0;
      width: 139px;
      height: 36px;
      margin: 0px 10%;
    }
    
  }
  
  .discription {
    display: block;
    //border-top: solid thin #e3e8cf;
    padding-top: 3%;
    
    h2,h3{
      color:  $subcolor;
      font-size: 1.6rem;
    }
    
    h2{
      border-bottom: solid 1px $subcolor;
      padding-bottom: 2%;
    }
    
    p{
      font-size: 1.4rem;
    }
    
    
    
  }
  
} //product





