@charset "utf-8";

html {
  font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 10) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;

$maincolor: #f9f8f6;
$subcolor: #887f69;


html, body{
    background-color: $maincolor;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    height: 100%;
}
header{
    
    padding: 40px 0;
    
    .sp_menu_btn{
        
        display: block;
        text-align:center;
        margin: 0 auto;
        margin-bottom: 15px;
        padding: 0 0;
        
         li{
            list-style: none;
            margin: 0;
            padding: 0 4px;
            display: inline-block;
         }
    }
    
    .sp_menu_li{
      width: auto;
      top: 50px;
      border: none;
      background: #ff6d77;
      margin: 0;
      padding: 0;
      display: none; //追加---------
    
    
      li{
    
        list-style: none;
        margin: 0;
        padding:0;
    
        a{
          color: #fff;
          display: block;
          padding: 10px 8px;
          border-bottom: 1px solid #fff;
          font-size: 14px;
          text-decoration: none;
        }
      }
    }
    
   @media (min-width: 551px) {
    .sp_menu{
      display: none;
    }
    
    .pc_menu{
      float: right;
       li{
        list-style: none;
        margin: 0;
        padding: 0;
        padding-left: 10px;
        display: inline-block;
      }
    }
    
    .logo{
      float: left;
    }
    
    .container{
        max-width: 80%;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 45px;
    }
    
    .banner{
      margin: 0 auto;
    }
  
  }// min-width: 551px
  
  
    @media (max-width: 550px) {
      
      padding: 0 0;      
      
      .pc_menu {
        display: none;
      }
      
    .logo{
        display: block;
        text-align:center;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 25px;
    }
    
    }// max-width: 550px

}//header

#wrap{
  clear: both;
  position: relative;
  min-height: 100%;
  padding: 10px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.main{
  text-align: center;

}

.content {
  display: block;
  width:75%;
  float: left;
  display: inline;
  margin-top: 40px;
  
  .owl-theme .owl-dots .owl-dot span {
    width: 25px;
    height: 2px;
    margin: 5px 7px;
    background: #aaa;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
  }
  
  .owl-theme .owl-dots .owl-dot.active span {
    background: #9d1a2d;
  }
  
  .owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: left;
    -webkit-tap-highlight-color: transparent;
  }
  
}

.sidebar{
  width: 25%;
  float: right;
  margin-top: 40px;
}

.pc_maintitle {
  padding-top:34px;
  padding-bottom:34px;
  } 
  
  
.newitems {
  
  .itemlist {
    float:left;
    background-color: #fff;
    padding: 1.7%;
    margin: 0.2%;
    
    .details {
      text-align: center;
      
      .text {
        text-align: left;
        width: 205px;
        
        @media (max-width: 550px) {
          width: 100%;
        }
        
      }
    }
    
  }
  
  @media (max-width: 550px) {
    .itemlist{
      width: 45.6%;
      margin: 0.5%;
      
      img{
        width: 100%;
      }
    }
  }//max-width: 550px

}//newitems

.popular {
  
  .itemlist {
    
    float: left;
    background-color: #fff;
    padding: 1.7%;
    margin: 0.2%;
    
    .details {
      text-align: center;
      
      .text {
        text-align: left;
        width: 205px;
        
        @media (max-width: 550px) {
          width: 100%;
        }
      }
    
    }
  
  }//itemlist
  
  @media (max-width: 550px) {
    .itemlist{
      width: 45.6%;
      margin: 0.5%;
      
      img{
        width: 100%;
      }
    }
  }//max-width: 550px  
  
} //popular

.delivery{
  
    float: left;
    background-color: #fff;
    padding: 20px;
    margin: 2px;
    width: 43%;
    height: 264px;
    text-align: left;
    
  h2 {
    color: $subcolor;
  }
  
  h3 {
    color: $subcolor;
  }
  
} //delivery

.payment{
  
    float: left;
    background-color: #fff;
    padding: 20px;
    margin: 2px;
    width: 43%;
    height: 264px;
    text-align: left;
    
  h2 {
    color: $subcolor;
  }
  
  h3 {
    color: $subcolor;
  }
  
} //payment


.sidebar {
  width: 220px;
  
  
  display: inline;
  
    @media (max-width: 550px) {
      
      float: left;
      margin-top: 15px;
      width: 100%;      
      
    }//max-width: 550px
  
  .search{
    
    padding: 20px;
    background-color: #fff;
    
    .itemserch{
      text-align: center;
      
      @media (max-width: 550px) {
        
         img{
          display: none;
        }
          

      }//max-width: 550px
      
    }//itemserch
    
    .searchspace {
      background-color: #eee;
      text-align: left;
      padding: 11px;
      
      p{
        display: block;
        float: left;
        margin: 0 ;
        padding-right: 90px;
        font-weight: bold;
        font-style: italic;
        font-size: 11px;
        color: #b5b5b5;
        
        @media (max-width: 550px){
          padding-right: 175px;
        }//max-width: 550px

      }
      
      img{
        vertical-align: middle;
      }

      
    } 
  
  } //search
  
  .navi{
    
    .pagelink {

      height: 45px;
      background-color: $subcolor;
      margin-top: 10px;
      
      .linkicon{
        padding-left: 15px;
        padding-right: 15px;
        float: left;
        margin: 0 auto;
        margin-top:17px;
        margin-bottom: 17px;
        
        div{
          float: right;
          padding-left: 105px;
          
          @media (max-width: 550px){
            padding-left: 186px;
          }
        }
        
      }
      
    }//pagelink
    
    .categories{
      
      .categorieswrap{
        cursor: pointer;
        
        height: 45px;
        background-color: $subcolor;
        margin-top: 10px; 
        
        .categoriesicon{
          padding-left: 15px;
          padding-right: 15px;
          float: left;
          margin: 0 auto;
          margin-top:17px;
          margin-bottom: 17px;
          
          div{
          float: right;
          padding-left: 92px;
          
           @media (max-width: 550px){
            padding-left: 173px;
          }          
          
          } 
        }
        
      }
      
      .listwrap{
        .categorieslist{
        display: none;
        height: 45px;
        background-color: #fff;
        margin-top: 2px; 
        
        p{
          padding-left: 15px;
          float: left;
          margin: 0 auto;
          margin-top: 12px;
          font-size: 12px;
        }
        
        div{
          float: right;
          padding-left: 105px;
          padding-right: 15px;
          margin-top: 15px;
        }          
        
        
      }//list        
      }
      
      
    }//categories
    
  } //navi
  
  .about {
    
    background-color: $subcolor;
    margin-top: 10px; 
    
    .abouticon{
      
      padding-left: 15px;
      padding-right: 15px;
      float: left;
      margin: 0 auto;
      margin-top: 17px;
      margin-bottom: 17px;
          
    }
    
    .aboutimg{
      clear: both;
      height: 265px;
      background-color: #fff;
      padding: 12px;
      
      p{
        font-size: 12px;
      }
      
      .more{
        padding-left: 49px;
        padding-right: 49px;
        padding-top: 15px;
      }      
      
    }
    
    @media (max-width: 550px) {
      
      .aboutimg{
        height: 13%;
        
        img{
          width: 45%;
          height: auto;
          padding-right: 5%;
        }
        
        p{
          width: 50%;
          float: right;
          margin: 0 auto;
        }
        
        .more{
          width: 80%;
          height: auto;
          padding-left: 50%;
        }
      }
      
    } //max-width: 550px    
    
  }//about
  
  .shopinfo {
    
    background-color: $subcolor;
    margin-top: 10px; 
    
    .infoicon{
      
      padding-left: 15px;
      padding-right: 15px;
      float: left;
      margin: 0 auto;
      margin-top:17px;
      margin-bottom: 17px;
          
    }
    
    .shopinfoimg{
      clear: both;
      height: 265px;
      background-color: #fff;
      padding: 12px;
      
      p{
        font-size: 12px;
      }
      
      .more{
        padding-left: 49px;
        padding-right: 49px;
        padding-top: 15px;
      }      
      
    }
    
    @media (max-width: 550px) {
      
      .shopinfoimg{
        height: 13%;
        
        img{
          width: 45%;
          height: auto;
          padding-right: 5%;
        }
        
        p{
          width: 50%;
          float: right;
          margin: 0 auto;
        }
        
        .more{
          width: 80%;
          height: auto;
          padding-left: 50%;
        }
      }
      
    } //max-width: 550px    
    
  }//shopinfo
  

  
} //sidebar

footer{
    display: block;
    position: absolute;
    bottom: auto; 
    width: 960px;
    margin: 60px auto;
    text-align: center;

  .pagetop{
    text-align: right;
    padding-bottom: 20px;
  }
  
  .foot_navi{
    
    padding: 30px 0;
    border-top: solid 1px $subcolor;
    font-size: 12px;
    
  }
  
  small{
    color: #b8b4ac;
  }
  
  @media (max-width: 550px) {
    
    width: 100%;
    margin-top: 10px;
    
    .pagetop{
      text-align: center;
      padding-bottom: 10px;
    }
    
    .foot_navi{
      padding: 10px 0;
      width: 92%;
      margin: 0 auto;
    }
    
  }// max-width: 550px
  
} //footer


@media (max-width: 550px) {
  .pc_maintitle {
     display: none;
  }
  
  .sp_maintitle{
    padding: 15px;
   }  
  
  
  .banner{
    max-width:100%;
  }
  
  .content{
    width: 100%;
    margin-top: 0;
  }
  
  .delivery{
    padding: 1% 6%;
    width: 87%;
    height: 225px;
  }
  
  .payment{
    padding: 1% 6%;
    width: 87%;
    
    img{
      width: 100%;
      height: auto;
    }
  }
  
  
} //max-width: 550px

@media (min-width: 551px) {
  .sp_maintitle{
    display: none;
  }

} //min-width: 551px